#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}


#info-container{
    margin-bottom: 20%;
    margin-top: 15px;
}

#port-container{
    margin-top: 30px;
}

.my-widget-tab-icon {
    -webkit-mask: url('./icons/globe.svg');
    mask: url('./icons/globe.svg');
}